.projects {
  width: 100%;
  height: 270vh;
  margin-top: 60vh;
  position: relative;
  z-index: 10;
}
.project-1 {
  height: 90vh;
  position: relative;
  padding: 2rem;
}
.project-2 {
  height: 80vh;
  padding: 2rem;
}
.project-3
{
  height: 90vh;
  padding: 2rem;
  position: relative;
}

.projects h2 {
  font-size: 4.5vw;
  border: 1px solid #222;
  padding: 0.3rem 0.6rem;
  border-radius: 1rem;
  width: max-content;
  position: absolute;
}
.project-desciption {
  padding: 2rem;
  width: calc(52% - 2rem);
}
.projects h3 {
  font-size: 3vw;
  font-weight: 700;
}
.projects .pitch-description {
  font-size: 3vw;
}
.pitch-description span {
  font-family: 'Exo 2';
  font-size: 2.3vw;
  font-weight: 700;
}
.projects ul {
  /* padding: 10px; */
  font-family: 'Exo 2';
  font-size: 20px;
  padding-top: 2rem;
  padding-left: 1rem;
}
.project-name-container {
  display: flex;
  align-items: center;
  margin-bottom: 4vw;
}
.project-info-container {
  margin-top: 15vh;
  display: flex;
}
.project-info-container .icon-container {
  margin-left: 3vw;
  width: 5vw;
  height: 5vw;
}
.project-showcase-container {
  width: 48vw;
  height: 28.3vw;
  margin: 0;
  padding: 0;
  top: 30vh;
  left: 2rem;
  z-index: 100;
  position: absolute;
}
.project-showcase-container iframe {
  border-radius: 0.2rem;
  height: 100%;
  max-width: 100%;
}
.take-space {
  width: 48vw;
  padding: 0;
  margin: 0;
}
.project-info-container iframe {
  display: none
}

@media only screen and (max-width: 820px) {
  .take-space {
    display: none !important;
  }

  .project-desciption {
    width: 100%;
    height: 50%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .project-info-container {
    flex-direction: column;
    align-items: center;
  }
  .project-showcase-container {
    display: none !important;
  }
  .projects iframe {
    height: 35vh;
    width: 60%;
    display: block;
  }
  .projects .icon-container {
    padding: 0px;
    box-shadow: none;
  }
  .project-name-container {
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .projects iframe {
    width: 90%;
  }
}

@media only screen and (max-width: 400px) {
  .project-1, .project-2, .project-3 {
    padding: 0;
  }
  .projects iframe {
    width: 95%;
  }
  .projects ul {
    font-size: 16px;
  }
  .projects a {
    display: flex;
  }
}