@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  padding: 0 !important;
  margin: 0 !important;
  background-color: #F9F6EE;
  font-family: 'Caveat';
  overflow-x: hidden;
}

.sections {
  height: 520vh;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.first-three {
  position: relative;
}
.skills {
  position: absolute;
  top: 100vh;
}

.projects-detector {
  position: absolute;
  top: 75vw;
}

@keyframes blinking {
  50% {border-color: transparent}
}